Source: libtpa2016-chipkit
Section: main
XBSC-Family: pic32
Priority: extra
Maintainer: Matt Jenkins <matt@majenko.co.uk>
XBSC-TieCore: chipkit
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: libtpa2016-chipkit
Section: main
Architecture: all
XBSC-Group: Libraries
XBSC-SubGroup: Audio
Depends: chipkit, libi2s-chipkit
Provides: TPA2016.h
Description: TPA2016 library for chipkit



